.meals {
	animation: meals-appear 1s ease-in;
	font-size: 2rem;
	width: 80%;
	text-align: center;
}

.meals ul {
	list-style: none;
	padding: 1.5rem 0;
}

.name {
	color: #00adb5;
	font-weight: bold;
}

@keyframes meals-appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
