.meal {
	display: flex;
	justify-content: space-between;
	margin: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;
}

.meal h3 {
	margin: 0 0 0.25rem 0;
}

.description {
	color: #222831;
	text-align: left;
	font-size: 1.6rem;
}

.price {
	margin-top: 0.25rem;
	font-weight: bold;
	color: #00adb5;
	font-size: 1.75rem;
}

.name {
	color: #222831;
	text-align: left;
}

.meal-list {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
}
