.button {
	position: relative;
	cursor: pointer;
	font: inherit;
	border: none;
	background-color: #00adb5;
	color: white;
	padding: 0.75rem 3rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 20px;
	font-weight: bold;
}

.button:hover,
.button:active {
	background-color: #0d979e;
	transition: background-color 0.35s;
}

.icon {
	width: 1.25rem;
	height: 1.25rem;
}

.badge {
	position: absolute;
	right: 0.75rem;
	background-color: red;
	width: 1.25rem;
	color: #fff;
	border-radius: 50%;
	font-weight: bold;
}

.bump {
	animation: bump 300ms ease-out;
}

@keyframes bump {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	30% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}
