.input {
	margin: 0 0.5rem 0.5rem 0;
	width: 10rem;
	border-radius: 5px;
	font: inherit;
}

.input label {
	font-weight: bold;
	color: #1a1b1c;
	min-width: 100%;
}

.inputamount {
	border: 1px solid #ececec;
	outline: none;
	height: 2.5rem;
	width: 7rem;
}
